<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Varnam transliterator</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.css">
    <link rel="stylesheet" href="stylesheets/codemirror.css">

    <script src="javascripts/modernizr-2.6.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/jquery-1.8.2.min.js">\x3C/script>')</script>
    <script src="javascripts/codemirror-compressed.js"></script>
    <script src="javascripts/showdown.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

    <style type="text/css">
      /*body{
        background: url("./img/bg.png") repeat scroll 0 0 #EDEDED;
        -webkit-font-smoothing: antialiased;
        height: 100%
      }*/
      .CodeMirror-completions {
        position: absolute;
        z-index: 10;
        overflow: hidden;
        -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
        -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
        box-shadow: 2px 3px 5px rgba(0,0,0,.2);
      }
      .CodeMirror-completions select {
        background: #fafafa;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        font-family: monospace;
      }
      .CodeMirror{

        background:#EDEDED;
        border: #333 solid 1px;
      }
      iframe {
        /*	width: 100%;*/
        display:block; width:100%;
        height: 400px;
        background-color: #fff;
        /*padding: 5px;*/
        overflow: auto;
        /*margin-right:5px;*/
        border: 1px solid black;
        box-shadow: rgba(0, 0, 0, 0.75) 0 2px 5px;
        border-radius: 3px;
      }

      .CodeMirror pre {
        line-height: inherit;
        color: inherit;
      }
      .CodeMirror-wrap pre {
        word-break: normal;
      }

      .navbar h1{
        color:#000;
        margin-top: 5px;
        display: inline;
      }
      .toolbar{
        position: relative;
      }
      .caption{
        position: absolute;
        bottom: 17px;
        left:155px;
      }

      .navbar .navbar-inner {
        background: none repeat scroll 0 0 #FFFFFF;
        border-radius: 0 0 0 0;
        box-shadow: none;
        color: #000000;
        padding-top: 10px;
        text-shadow: none;
      }

      .networkerror {
        z-index: 9;
        position:fixed;
        top:0px;
        left:18%;
        display: none;
        margin:0 auto;
        width:60%;
      }

    </style>
    <link rel="stylesheet" media="print" href="stylesheets/print.css">
  </head>

  <body>
       <div id="network-error" class="alert alert-error networkerror">
            Your Internet connection might have interrupted
           <button type="button" class="close" id="network-error-close">×</button>
          </div>
      <div class="navbar toolbar">
        <div class="container-fluid ">

          <div class="span2"> <h1>Varnam</h1></div><div class='span2 caption'> Transliterator</div>
          <div class="btn-toolbar  pull-right">
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id='selected_lang' data-lang='ml'>
                Malayalam
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#" class='lang' data-lang='en'>English</a></li>
                <li><a tabindex="-1" href="#" class='lang' data-lang='ml'>Malayalam</a></li>
                <li><a tabindex="-1" href="#" class='lang' data-lang='tl'>Tamil</a></li>
                <li><a tabindex="-1" href="#" class='lang' data-lang='gu'>Gujarati</a></li>
              </ul>
            </div>
            <div class="btn-group">
               <button type="button" class="btn"  title='Print' id='printBtn'>
                <i class="icon-print"> </i>
              </button>
            </div>
            <div class="btn-group" data-toggle="buttons-radio">
              <button type="button" class="btn" data-preview="editor" title='View Only Editor' id='editorBtn'>
                <i class="icon-edit"> </i>
              </button>
              <button type="button" class="btn active" data-preview="both"  title='View Both' id='bothBtn'>
                <i class="icon-edit"> </i><i class="icon-eye-open"></i>
              </button>
              <button type="button" class="btn" data-preview="preview"  title='View Only Preview' id='previewBtn'>
                <i class="icon-eye-open"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span6" id='editor_div'>
            <textarea id='code' name='code'></textarea>
          </div>
          <div class="span6" id='preview_div'>
            <iframe id='preview'>

            </iframe>
          </div>
          <div class='span6' style='display:none' id='reserve'></div>
        </div>
      </div>
      <script src="javascripts/varnam.js"></script>
      <script type="text/javascript">

      $(document).ready(function () {
          var options =
          {
            textArea: document.getElementById('code'),
            mode: 'markdown',
            lineNumbers: true,
            textChangedCallback: function(editor, from, to, text, next) {
              updatePreview();
            },
            language: $('#selected_lang').data('lang'),
            errorCallback: toggleErrorMessageVisibility
          };

          Varnam.init(options);
          initPreviewMode();
          selectLastUsedLanguage();
          resizeFrame();
        });


        jQuery.event.add(window, "resize", resizeFrame);
        function resizeFrame()
        {
          var h = $(window).innerHeight();
          var toolbarHeight = $(".navbar").height();
          var editorHeight= h-toolbarHeight-30;

          $("#preview").css('height',editorHeight);
          $(".CodeMirror").css('height',editorHeight);
          $(".CodeMirror-scroll").css('height',editorHeight);
        }

      </script>
  </body>
</html>

