<!DOCTYPE html>
<html>
    <head>
        <% include head %>
        <title>Varnam - Cross platform opensource transliterator for Indian languages</title> 
    </head>
    <body>
        <% include navigation %>
        <div class="container main-content">
            <div style="width:642px; margin:0 auto; padding-top: 30px">
                <img src="images/main.gif" />
            </div>
            <div class="main-intro">
                <span style="color: grey; font-size: 20px">
                    Cross platform predictive transliterator for Indian languages
                </span>
            </div>
            <div>
                <div style="text-align: center">
                    <a href="/downloads" style="font-size: 20px;">Download</a>
                </div>
            </div>
        </div>
        <% include footer %>
       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="javascripts/libs/jquery-1.7.1.min.js"><\/script>')</script>

            <!-- scripts concatenated and minified via build script -->
            <script src="javascripts/plugins.js"></script>
            <!-- end scripts -->

        </body>
    </html>
