<!DOCTYPE html>
<html>
    <head>
        <% include head %>
        <title>Varnam - Cross platform opensource transliterator for Indian languages</title> 
    </head>
    <body>
        <% include navigation %>
        <div class="container main-content">
            <div> 
                <div>
                    <h3>Welcome</h3>
                    <p>Varnam project contains a set of cross-platform opensource tools to help you input in any Indian languages.
                    </p>
                    <h3><a id="downloads"></a>Download</h3>
                    <p>
                    <a href="https://chrome.google.com/webstore/detail/varnam-ime/abcfkeabpcanobhdmcmdabejaamephaf" 
                        title="Download varnam from Google Chrome web store">
                        <img src="images/ChromeWebStore_BadgeWBorder_v2_340x96.png" /></a>
                    <span><a href="https://addons.mozilla.org/en-US/firefox/addon/varnam-transliteration-base/" title="Download varnam from Firefox extensions"><img src="images/available_as_firefox_extension.png" /></a></span>
                    </p> 

                    <h3><a id="get_involved"></a>Get involved</h3>
                    <p>Thank you for your interest! You can also help us grow!</p>
                    <p>If the language of your choice is not available in Varnam, You can add a new scheme in <em>libvarnam</em>, and submit a pull request. Refer to the <a title="Adding a new language to libvarnam" href="https://github.com/navaneeth/libvarnam#adding_a_new_language">documentation</a> for more details.</p>
                    <p>If you want to use libvarnam in any of your applications, you can also port libvarnam API functions to another programming language. Already, we have half-done ruby and nodejs ports available.</p>
                    <p>Project source code is available at <a href="https://gitorious.org/varnamproject">Gitorious</a>
                    <ul class="repolinks">
                        <li><a href="https://gitorious.org/varnamproject/libvarnam" title="libvarnam - Cross platform, opensource transliterator"><em>libvarnam</em></a> - Core library</li>
                        <li><a href="https://gitorious.org/varnamproject/libvarnam-nodejs" title="nodejs port for libvarnam"><em>libvarnam-nodejs</em></a> - Nodejs port of libvarnam</li>
                        <li><a href="https://gitorious.org/varnamproject/varnam-browser-addons" title="Firefox & Chrome IME for libvarnam"><em>varnam-browser-addons</em></a> - Firefox & Chrome addons</li>
                        <li><a href="https://gitorious.org/varnamproject/website" title="varnamproject.com and REST API"><em>varnamproject.com</em></a> - Website source and REST API implementation</li>
                    </ul>
                    </p>
                    <h3><a id="concepts"></a>Concepts</h3>
                    <p>Varnam is based on phonetic transliteration, and defines a particular scheme for each language. <em>libvarnam</em> is the core library that all Varnam projects use. It is a shared library that implements a transliterator and a reverse transliterator.</p>

                    <p>i<em>libvarnam</em> is a learning program, that is, it can learn words as you type. It stores the words it has learned, and makes use of this knowledge to provide suggestions while transliterating.</p>

                    <p>For instance, to input the text "മലയാളം", in other phonetic based transliteration systems, you will have to input "malayaaLam". But in Varnam, just inputting "malayalam" can give you the word "മലയാളം". Varnam knows about half a million Malayalam words as of now, and it gets better with more use. Varnam can ease the input time considerably for beginners, compared to other transliteration systems. </p>

                    <p>libvarnam has a fairly simple API and is written using standard C. It can be easily embedded to your application. If you have a standalone application, you can embed the "libvarnam.so" or "libvarnam.dll" or even a statically compiled version of the library. Web applications can use the REST API interface to enable indic input. </p>

                    <h3>Discussions</h3>
                    <p>You can use <a href="https://groups.google.com/forum/?fromgroups#!forum/varnamproject" title="Varnam mailing list">mailing list</a> for discussions. Join IRC at #varnamproject on freenode. 

                    </p>
                </div>

            </div>
        </div>
        <% include footer %>
       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="javascripts/libs/jquery-1.7.1.min.js"><\/script>')</script>

            <!-- scripts concatenated and minified via build script -->
            <script src="javascripts/plugins.js"></script>
            <!-- end scripts -->

        </body>
    </html>
