<header>
<div class="container">
    <div class="logo">
        <h1><a href="/" title="varnam">varnam</a></h1>
        <h2>“Varnam” is an open source, cross platform transliterator for Indian languages</h2>
    </div>
    <div class="navigation">
        <section id="mainlinks">
        <a  href="/editor">Try now</a>
        <a  href="/downloads" title="Download varnam">Download</a>
        <a  href="/docs">Documentation</a>
        <a  href="http://savannah.nongnu.org/bugs/?group=varnamproject" target="_blank">Issues</a>
        <a  href="https://github.com/varnamproject" target="_blank">Git</a>
        </section>
    </div>
</div>
</header>

