<!-- download Grid Section -->
    <section id="download">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Download</h2>
                    <h3 class="section-subheading text-muted">Varnam can be used as a Firefox/Chrome extension and as an IBus engine.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://addons.mozilla.org/en-US/firefox/addon/varnam-transliteration-base/"><img src="img/logos/firefox.png" class="img-responsive img-circle" alt=""></a>
                        <h4>Firefox addon</h4>
                        <p class="text-muted">After installing, right click on any text input field and choose the required language from the Varnam menu and start typing.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://chrome.google.com/webstore/detail/varnam-ime/abcfkeabpcanobhdmcmdabejaamephaf"><img src="img/logos/google-chrome-icon.png" class="img-responsive img-circle" alt=""></a>
                        <h4>Chrome Plugin</h4>
                        <p class="text-muted">After installing, right click on any text input field and choose the required language from the Varnam menu and start typing.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://github.com/varnamproject/libvarnam-ibus"><img src="img/logos/linux.png" class="img-responsive img-circle" alt=""></a>
                        <h4>i-Bus integration for linux</h4>
                        <p class="text-muted">IBus engine is not yet released. You can track the work <a href="https://github.com/varnamproject/libvarnam-ibus">here</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-lg-12 text-center">
                      <div class="team-member">
                          <a href="http://download.savannah.gnu.org/releases/varnamproject/libvarnam/source/"><img src="img/logos/box.png" class="img-responsive img-circle" alt=""></a>
                         <h4>Source download for libvarnam</h4>
                         <p class="text-muted">libvarnam's packaged source code is available here.<a href="http://download.savannah.gnu.org/releases/varnamproject/libvarnam/source/">here</a></p>
                     </div>
                 </div>
            </div>
        </div>
    </section>